<style>
ul.education {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 16px 0 0;
  width: 100%;
}

ul.education li {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 12px 6px;
}

ul.education li div div:first-child {
  font-size: 14px;
  font-weight: 500;
  color: #334650;
}

ul.education li div div:last-child {
  font-size: 13px;
  color: #586375;
  margin-top: 2px;
}
</style>

<div class="collapsible-header" onclick="toggleSection(this)">
  <h1 class="section-title">Education</h1>
  <svg class="collapse-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
</div>
<div class="collapsible-body">
  <ul class="education">
    <li>
      <img src="/assets/university.webp" alt="University of Aurel Vlaicu" />
      <div>
        <div>Bachelor's Degree in Informatics</div>
        <div>University of Aurel Vlaicu</div>
      </div>
    </li>
  </ul>
</div>
